body {
    background-image: linear-gradient(to right, rgb(255, 185, 138), rgb(255, 231, 214));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 103, 56);
    font-size: 20px;
    text-align: center;
}

.blank_space {
    height: 10px;
}

.playerName {grid-area: playerName;}
.computerName {grid-area: computerName;}
.playerBar {
    grid-area: playerBar;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(173, 103, 56);
    padding: 5px;
}
.computerBar {
    grid-area: computerBar;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(173, 103, 56);
    padding: 5px;
}
.damage {grid-area: damage;}
.damageValue {grid-area: damageValue;}
.grid_health-bar_container {
    background-color: rgb(173, 103, 56);
    display: grid;
    grid-template-areas:
        "playerName damage computerName"
        "playerBar damageValue computerBar";
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 28px;
}

#playerStatus, #computerStatus {
    margin: 0 auto;
    width: 300px;
    border: 5px solid rgb(173, 103, 56);
    padding: 10px;
    background-color: white;
}

#play {
    margin: 20px 0 auto;
    display: inline-block;
    width: 100px;
    border: 3px solid rgb(173, 103, 56);
    border-radius: 50%;
    padding: 10px;
}
#attack, #snap, #stay, #dodge {
    margin: 0 20px;
    display: inline-block;
    width: 125px;
    border: 5px solid rgb(173, 103, 56);
    border-radius: 20px;
    padding: 10px;
}

#play:hover, #attack:hover, #snap:hover, #stay:hover, #dodge:hover {
    background-color: rgb(173, 103, 56);
    color: white;
    cursor: pointer;
}

@media (max-width: 800px){
    .grid_health-bar_container {
        /* background-color: rgb(173, 103, 56);
        display: grid; */
        grid-template-areas:
            "playerName"
            "playerBar"
            "computerName"
            "computerBar"
            "damage"
            "damageValue";
        /* grid-gap: 10px;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 28px; */
    }


}