body {
    background-image: linear-gradient(to right, rgb(255, 185, 138), rgb(255, 231, 214));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 103, 56);
    font-size: 20px;
    text-align: center;
}

.blank_space {
    height: 10px;
}

.playerName {grid-area: playerName;}
.computerName {grid-area: computerName;}
.playerBar {
    grid-area: playerBar;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(173, 103, 56);
    padding: 5px;
    position: relative;
}
.playerH {
    background-color: rgba(0, 255, 0, 0.5);
    width: 100%;
    height: 100%; /*itung manual*/
    position: absolute;
    top: 0px;
    left: 0px;
}
.computerBar {
    grid-area: computerBar;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(173, 103, 56);
    padding: 5px;
    position: relative;
}
.computerH {
    background-color: rgba(0, 255, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.damage {grid-area: damage;}
.damageValue {
    grid-area: damageValue;
    padding: 5px;
}
.grid_health-bar_container {
    background-color: rgb(173, 103, 56);
    display: grid;
    grid-template-areas:
        "playerName playerName damage computerName computerName"
        "playerBar playerBar damageValue computerBar computerBar";
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 28px;
}

#playerStatus, #computerStatus {
    margin: 0 auto;
    width: 300px;
    border: 3px solid rgb(173, 103, 56);
    padding: 5px;
    background-color: white;
}

#play {
    margin: 20px 0 auto;
    display: inline-block;
    width: 150px;
    border: 5px solid rgb(173, 103, 56);
    border-radius: 50%;
    padding: 10px;
    font-size: 28px;
    background-color: rgb(173, 103, 56);
    color: white;
}
#attack, #snap, #stay, #dodge {
    margin: 0 12px;
    display: inline-block;
    width: 125px;
    border: 5px solid rgb(173, 103, 56);
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(173, 103, 56);
    color: white;
}

#play:hover, #attack:hover, #snap:hover, #stay:hover, #dodge:hover {
    background-color: rgba(173, 103, 56, 0);
    color: rgb(173, 103, 56);
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .damage {
        padding: 38px 0 0; /*itung manual*/
    }
    .damageValue {
        padding: 0;
        font-size: 24px;
    }
    .computerH {
        left: 0px;
    }
    .grid_health-bar_container {
        grid-template-areas:
            "damage playerName playerName playerName playerName playerName"
            "damage playerBar playerBar playerBar playerBar playerBar"
            "damageValue computerName computerName computerName computerName computerName"
            "damageValue computerBar computerBar computerBar computerBar computerBar";
        grid-gap: 5px;
        padding: 5px;
        font-size: 20px;
    }
    body {
        font-size: 16px;
    }
    #playerStatus, #computerStatus {
        width: 250px;
    }
    #play {
        margin: 10px 0 auto;
        display: inline-block;
        width: 120px;
        border: 3px solid rgb(173, 103, 56);
        border-radius: 50%;
        padding: 5px;
        font-size: 20px;
    }
    #attack, #snap, #stay, #dodge {
        margin: 0 12px;
        width: 100px;
        border: 3px solid rgb(173, 103, 56);
        border-radius: 15px;
        padding: 5px;
    }
}